* {
  margin: 0;
  padding: 0;
}
h1 {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
h6 {
  margin-top: 6px;
  float: right;
  color: #00008b;
  opacity: 0.8;
}
h6:hover {
  opacity: 1;
  cursor: pointer;
}
h5 {
  padding-top: 10px;
  color: aliceblue;
}
.logo {
  width: 50px;
}
span {
  color: aliceblue;
  white-space: wrap;
}
span:hover {
  color: cyan;
  cursor: pointer;
}
.icons {
  margin-left: 2px;
  margin-right: 2px;
}
.icons:hover {
  color: cyan;
  cursor: pointer;
}
.my-facebook-button-class {
  width: 80px;
  height: 25px;
  border-radius: 4px;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  text-align: center;
  margin: 5px;
  display: inline-block;
}
.my-facebook-button-class:hover {
  opacity: 0.8;
}
.contailer {
  display: flex;
  max-width: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  justify-content: space-between;
  background-color: #008080;
  margin-top: 8px;
  align-items: center;
  border-radius: 5px;
}
.p {
  word-break: break-all;
  color: aliceblue;
  font-size: "18px";
}
.icons {
  margin-left: 2px;
  margin-right: 2px;
}
.icons:hover {
  color: cyan;
  cursor: pointer;
}
